* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    background-color: rgba(72, 66, 66, 0.207);
}

body {
    width: 500px;
    margin: 5em auto;
    overflow: hidden;
    background-color: white;
    box-shadow: 5px 5px 9px black;
    border: 2px solid black;
    border-radius: 3px;
}

.display-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 429px;
    height: 100px;
    margin-top: 10px;
}

#display {
    font-size: 7rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 2rem;

}

button {
    width: 20%;
    height: 100px;
    /* border-radius: 100%; */
    color: white;
    background: rgb(81, 77, 77);
    font-size: 2rem;
    border-radius: 5px;

}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: black;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: space-between;
    width: 100%;
    margin-bottom: 10px;
    background-color: black;
}

.row1, .row2, .row3, .row4, .row5 {
    display: flex;
    gap: 10px;
    justify-content: center;
}

#divide, #multiply, #subtract, #add, #equal {
    background-color: orange;
    color: white;
}

#clear, #sign, #percent {
    background-color: rgb(235, 225, 225);
    color: black;
}

#zero {
    width: 42%;
    /* border-radius: 26%; */
}


button:hover {
    transform: translateY(-1px);
    transition: 0.25s;
}
